<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:jee="http://www.springframework.org/schema/jee" 
	   xmlns:tx="http://www.springframework.org/schema/tx" 
	   xmlns:task="http://www.springframework.org/schema/task" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:i="http://www.springframework.org/schema/integration"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd   
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd  
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd ">


	<context:component-scan base-package="com.thescene" />

	<bean id="org.h2.tools.Server" class="org.h2.tools.Server" scope="singleton" factory-method="createTcpServer"
          init-method="start" depends-on="org.h2.tools.Server-WebServer">
        <constructor-arg value="-tcp,-tcpAllowOthers,true,-tcpPort,9092"/>
    </bean>

    <bean id="org.h2.tools.Server-WebServer" class="org.h2.tools.Server" scope="singleton" factory-method="createWebServer" init-method="start">
        <constructor-arg value="-web,-webAllowOthers,true,-webPort,8082"/>
    </bean>

    <!-- notice that loading the Driver as a bean is unnecessary is most cases! u could safely remove this and the depends-on in the next bean -->

    <bean id="H2DatabaseJDBCDriver" class="org.h2.Driver" scope="singleton" init-method="load" depends-on="org.h2.tools.Server"/>

    <bean id="h2databasePoolingDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" depends-on="H2DatabaseJDBCDriver" destroy-method="close">
        <property name="driverClass" value="org.h2.Driver"/>
        <property name="jdbcUrl" value="jdbc:h2:mem:appdb1;DB_CLOSE_DELAY=-1;TRACE_LEVEL_FILE=4"/>
        <!-- ;TRACE_LEVEL_FILE=3;TRACE_LEVEL_SYSTEM_OUT=3 -->
        <property name="user" value="sa"/>

        <property name="password" value=""/>

        <property name="maxPoolSize" value="20"/>
        <property name="minPoolSize" value="5"/>
        <property name="acquireIncrement" value="5"/>

        <property name="maxConnectionAge" value="28800"/>
        <property name="preferredTestQuery" value="SELECT 1"/>
    </bean>


	<bean name="personDao" class="net.raescott.criteriaqueries.PersonDao" />

</beans>
